*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    width: 100vw;
    height: 50px;
    padding: 0px 100px;
    color: #fff;
    background-color: #022D7c;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner{
    width: 100%;
    height: 600px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    align-items: center;
    background: url(../img/Industrial.jpeg);
    background-size: cover;
}
.banner h1{
    font-size: 55px;
    font-weight: normal;
}
.banner h1 span{
    font-size: 77px;
    display: block;
    font-weight: 600;
}
.banner aside{
    padding: 20px;
    background: #022D7c;
    border-radius: 7px;
    text-align: center;
}
.banner aside input[type],
.banner aside textarea,
.banner aside button{
    width: 100%;
    height: 50px;
    margin: 5px;
}
.table{
    height: 200pxpx;
}